extends layout

block content
    link(rel='stylesheet', href='/stylesheets/drink_detail.css')
    h1 Drink Details  #{message}
    .detail_container
        img(src= drink.img_url alt='drink_image' style='width:250px; height:auto;')
        p
        | Marke: #{drink.marke} 
        br
        | Name: #{drink.name}
        br
        | Alkolisch #{drink.alkoholisch}
        br
        | Name: #{drink.verkaufspreis} 
        br
        | Preis: #{drink.verkaufspreis}
        br
        | Menge: #{drink.vorhandene_menge}
        br
        | Verkaufte menge: #{drink.verkaufte_menge} 
        br
        | Ablaufdatum: #{drink.ablaufdatumFormatted} 
        p
        .button_container
            form(method='POST' action='')
                div.form-group
                    input#id.form-control(type='hidden',name='id', required='true', value=drink._id )

                button.btn.btn-primary(type='submit') Delete
            p
            a(href=drink.id + '/update')
                button.btn(type="button") Update
                
            


            // Weitere Informationen zum Getränk ausgeben...
