extends layout

block content

    h1 Drink: #{drink.name}
    img(src= drink.img_url alt='drink_image' style='width:100px; height:auto;')
    li
        
        p
        | Marke: #{drink.marke}
        br
        | Name: #{drink.name}
        br
        | Alkolisch #{drink.alkoholisch}
        br
        | Preis: #{drink.verkaufspreis}
        br
        | Menge: #{drink.vorhandene_menge}
        br
        | Name: #{drink.ablaufdatumFormatted} 
      p