extends layout

block content
  h1= title
  p #{title} Liste
  ul
    each drink in drinks
      li
        | Marke: #{drink.marke}
        br
        | Name: #{drink.name}
        br
        | Alkolisch #{drink.alkoholisch}
        br
        | Preis: #{drink.verkaufspreis}
        br
        | Menge: #{drink.vorhandene_menge}
        br
        | Name: #{drink.ablaufdatumFormatted} 
      p
        
        


        // Weitere Informationen zum Getränk ausgeben...
